-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: bcfexa
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `actividad`
--

DROP TABLE IF EXISTS `actividad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `actividad` (
  `NroResolucion` varchar(45) NOT NULL,
  `NroExpediente` varchar(45) NOT NULL,
  `NroConvenioMarco` varchar(45) NOT NULL,
  `Fecha_inicio` date DEFAULT NULL,
  `Fecha_final` date DEFAULT NULL,
  `Resumen` varchar(1000) DEFAULT NULL,
  `Objetivo` varchar(200) DEFAULT NULL,
  `TipoActividad_Id` int(11) NOT NULL,
  `PlazoRenovacion` tinyint(4) DEFAULT NULL,
  `RenovacionAutomatica` int(10) NOT NULL,
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `UbicacionArchivo_Id` int(11) NOT NULL,
  `Informe_Id` int(11) NOT NULL,
  `MonedaOrganizacion_Id` int(11) NOT NULL,
  `InversionOrganizacion` float NOT NULL,
  `NotaInversionOrganizacion` varchar(5000) NOT NULL,
  `MonedaUnidad_Id` int(11) NOT NULL,
  `InversionUnidad` float NOT NULL,
  `NotaInversionUnidad` varchar(5000) NOT NULL,
  `NroResolucion_Asociada` varchar(20) NOT NULL,
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB AUTO_INCREMENT=124 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `actividad`
--

LOCK TABLES `actividad` WRITE;
/*!40000 ALTER TABLE `actividad` DISABLE KEYS */;
/*!40000 ALTER TABLE `actividad` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detalleactividadorganizacion`
--

DROP TABLE IF EXISTS `detalleactividadorganizacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `detalleactividadorganizacion` (
  `Actividad_Id` int(11) NOT NULL,
  `Organizacion_Id` int(11) NOT NULL,
  PRIMARY KEY (`Actividad_Id`,`Organizacion_Id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detalleactividadorganizacion`
--

LOCK TABLES `detalleactividadorganizacion` WRITE;
/*!40000 ALTER TABLE `detalleactividadorganizacion` DISABLE KEYS */;
/*!40000 ALTER TABLE `detalleactividadorganizacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detalleactividadunidad`
--

DROP TABLE IF EXISTS `detalleactividadunidad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `detalleactividadunidad` (
  `UnidadEjecutora_Id` int(11) NOT NULL,
  `Actividad_Id` int(11) NOT NULL,
  `CatedraCarreraImpactada` varchar(100) DEFAULT NULL,
  `CantidadAlumnosInvolucrados` int(11) DEFAULT NULL,
  PRIMARY KEY (`UnidadEjecutora_Id`,`Actividad_Id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detalleactividadunidad`
--

LOCK TABLES `detalleactividadunidad` WRITE;
/*!40000 ALTER TABLE `detalleactividadunidad` DISABLE KEYS */;
/*!40000 ALTER TABLE `detalleactividadunidad` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detallepersonaactividad`
--

DROP TABLE IF EXISTS `detallepersonaactividad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `detallepersonaactividad` (
  `Actividad_Id` int(11) NOT NULL,
  `Persona_Id` int(10) NOT NULL,
  `Org_o_Uni` int(11) NOT NULL,
  `Rol_Id` int(11) NOT NULL,
  PRIMARY KEY (`Actividad_Id`,`Persona_Id`) USING BTREE
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detallepersonaactividad`
--

LOCK TABLES `detallepersonaactividad` WRITE;
/*!40000 ALTER TABLE `detallepersonaactividad` DISABLE KEYS */;
/*!40000 ALTER TABLE `detallepersonaactividad` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `informe`
--

DROP TABLE IF EXISTS `informe`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `informe` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `InformeUnidad` varchar(45) DEFAULT NULL,
  `FechaInformeUnidad` date DEFAULT NULL,
  `InformeOrganizacion` varchar(45) DEFAULT NULL,
  `FechaInformeOrganizacion` date DEFAULT NULL,
  `InformeComision` varchar(45) DEFAULT NULL,
  `FechaInformeComision` date DEFAULT NULL,
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `informe`
--

LOCK TABLES `informe` WRITE;
/*!40000 ALTER TABLE `informe` DISABLE KEYS */;
/*!40000 ALTER TABLE `informe` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `monedadeinversion`
--

DROP TABLE IF EXISTS `monedadeinversion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `monedadeinversion` (
  `Id` int(11) NOT NULL,
  `Nombre` varchar(45) DEFAULT NULL,
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `monedadeinversion`
--

LOCK TABLES `monedadeinversion` WRITE;
/*!40000 ALTER TABLE `monedadeinversion` DISABLE KEYS */;
INSERT INTO `monedadeinversion` VALUES (1,'Peso Argentino'),(2,'Dolar Estadounidense'),(3,'Dolar Canadiense'),(4,'Euro'),(5,'Boliviano'),(6,'Real Brasile├▒o'),(7,'Yuan');
/*!40000 ALTER TABLE `monedadeinversion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `organizacion`
--

DROP TABLE IF EXISTS `organizacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `organizacion` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `Nombre` varchar(150) DEFAULT NULL,
  `Domicilio` varchar(45) DEFAULT NULL,
  `Localidad` varchar(45) DEFAULT NULL,
  `Provincia` varchar(45) DEFAULT NULL,
  `Pais` varchar(45) DEFAULT NULL,
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB AUTO_INCREMENT=88 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `organizacion`
--

LOCK TABLES `organizacion` WRITE;
/*!40000 ALTER TABLE `organizacion` DISABLE KEYS */;
/*!40000 ALTER TABLE `organizacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `persona`
--

DROP TABLE IF EXISTS `persona`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `persona` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `Nombre` varchar(45) DEFAULT NULL,
  `Titulo` varchar(20) NOT NULL,
  `CUIL` int(11) DEFAULT NULL,
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB AUTO_INCREMENT=144 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `persona`
--

LOCK TABLES `persona` WRITE;
/*!40000 ALTER TABLE `persona` DISABLE KEYS */;
/*!40000 ALTER TABLE `persona` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rol`
--

DROP TABLE IF EXISTS `rol`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rol` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `Nombre` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rol`
--

LOCK TABLES `rol` WRITE;
/*!40000 ALTER TABLE `rol` DISABLE KEYS */;
INSERT INTO `rol` VALUES (1,'Coordinador General'),(2,'Representante T├®cnico');
/*!40000 ALTER TABLE `rol` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipoactividad`
--

DROP TABLE IF EXISTS `tipoactividad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tipoactividad` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `Nombre` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipoactividad`
--

LOCK TABLES `tipoactividad` WRITE;
/*!40000 ALTER TABLE `tipoactividad` DISABLE KEYS */;
/*!40000 ALTER TABLE `tipoactividad` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ubicacionarchivo`
--

DROP TABLE IF EXISTS `ubicacionarchivo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ubicacionarchivo` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `UbicacionOriginal` varchar(45) DEFAULT NULL,
  `UbicacionCopia` varchar(45) DEFAULT NULL,
  `UbicacionDigital` varchar(45) DEFAULT NULL,
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ubicacionarchivo`
--

LOCK TABLES `ubicacionarchivo` WRITE;
/*!40000 ALTER TABLE `ubicacionarchivo` DISABLE KEYS */;
/*!40000 ALTER TABLE `ubicacionarchivo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `unidadejecutora`
--

DROP TABLE IF EXISTS `unidadejecutora`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `unidadejecutora` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `Unidad` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB AUTO_INCREMENT=39 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `unidadejecutora`
--

LOCK TABLES `unidadejecutora` WRITE;
/*!40000 ALTER TABLE `unidadejecutora` DISABLE KEYS */;
/*!40000 ALTER TABLE `unidadejecutora` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_tbl`
--

DROP TABLE IF EXISTS `user_tbl`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_tbl` (
  `userID` int(5) unsigned NOT NULL AUTO_INCREMENT,
  `username` varchar(30) NOT NULL,
  `password` varchar(30) NOT NULL,
  PRIMARY KEY (`userID`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_tbl`
--

LOCK TABLES `user_tbl` WRITE;
/*!40000 ALTER TABLE `user_tbl` DISABLE KEYS */;
INSERT INTO `user_tbl` VALUES (3,'admin','admin123)'),(4,'Micaela','Micaela2025'),(5,'Patricia','Patricia2025');
/*!40000 ALTER TABLE `user_tbl` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-09-22 10:19:48
